<!DOCTYPE html>
<html lang="en">
<head>
    <title>Space Invaders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="background">
    <!--        <button id="menu-button">Menu</button>-->
    <div id="hearts"></div>
    <div id="score"></div>
    <div id="hero"></div>
    <div id="missiles"></div>
    <div id="enemies"></div>
</div>
<div id="pause-menu">
    <h1>Pause menu</h1>
    <button id="exit">Resume</button>
</div>
<div id="menu">
    <h1>Let's start!</h1>
    <button id="start">Start</button>
</div>
<div id="game-over">
    <h1>Game over!</h1>
    <p id="score-menu"></p>
    <label for="username"></label>
    <textarea id="username" placeholder="Username"></textarea><br>
    <input type="button" id="submit" value="Submit">
    <table id="score-table">
        <tr id="head">
            <td>Username</td>
            <td>Score</td>
        </tr>
    </table>
<!--    <button id="restart">Restart</button>-->
</div>

<script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>